<div>
	<h2>Please upload an image.</h2>

	<p><em>Note: please ensure it's at least 960 x 300 pixels in size.</em></p>
</div>

<form method="post" action="/upload" enctype="multipart/form-data">
	
	<div class="form-group">
		<input type="file" name="file">
	</div>

	<div class="form-group">
		<input type="submit" value="Submit" class="btn btn-primary">
	</div>

</form>

